<% layout("/layouts/boilerplate.ejs") %>
<div class="row">
    <div class="col-8 offset-2">
        <br /><br />
        <h3>Create a New Listing</h3>
        <form method = "POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for = "title" class="form-label">Title</label>
                <input placeholder="Add a catchy title" name="listing[title]" type="text" class="form-control" required>
                <div class="valid-feedback">Title looks good!</div>
            </div>
            <div class="mb-3">
                <label for = "description" class="form-label">Description</label>
                <textarea placeholder="Enter description" name="listing[description]" class="form-control" required></textarea>
                <div class="invalid-feedback">Please enter a short description</div>
            </div>
            <div class="mb-3">
                <label for = "image" class="form-label">Upload image</label>
                <input placeholder="Enter image URL/link" name="listing[image]" type="file" class="form-control">
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label for = "price" class="form-label">Price</label>
                    <input placeholder="Enter price" name="listing[price]" type="text" class="form-control" required>
                    <div class="invalid-feedback">Price should be valid</div>
                </div>
                <div class="col-md-8">
                    <label for = "country" class="form-label">Country</label>
                    <input placeholder="Enter country" name="listing[country]" type="text" class="form-control" required>
                    <div class="invalid-feedback">Country name should be valid</div>
                </div>
            </div>
            <div class="mb-3">
                <label for = "location" class="form-label">location</label>
                <input placeholder="Enter location" name="listing[location]" type="text" class="form-control" required>
                <div class="invalid-feedback">Location name should be valid</div>
            </div>
            <button class="btn btn-dark add-btn">Add</button>
            <br /><br />
        </form>
    </div>
</div>
